@import 'variables';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
  color: $primary-color;
  
}

.header{
// color: $primary-color; 



&-title{
    display: flex;
    justify-content: center;
    padding: 32px;
    
}

&-nav-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 24px;
    margin-bottom:20px ;
}

 &-nav-list-item{
    text-decoration: none;
    color: $primary-color;
    margin: 20px; 
}

&-nav-list-item:hover{
    font-weight: bold;
    transition: 0,4;
}
}
.container{
   display: flex;
   justify-content: center;
   margin-top: 40px;
   margin-bottom: 40px;
   border: 1px solid black;
   background-color: rgb(250, 248, 245);
}
    .event-form{

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 500px;
        padding: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
        
        background-color: rgb(218, 216, 213);

        &-label{
           padding-bottom: 10px;
           padding-top: 10px; 
        }
        &-input{
            border: none;
            padding: 5px;
            border-radius: 10px;
            background-color: white;
        }
        &-input[type="file"]{
            background-color: transparent;
        }
        &-input[type="file"]::-webkit-file-upload-button{
            border: none;
            padding: 5px;
            border-radius: 10px;
            background-color: white;
            cursor: pointer;
        }
        &-submit{
            margin-top: 20px;
            background-color: rgb(179, 47, 14);
            color: white;
            padding: 10px 30px 10px 30px;
        }
        &-submit:hover{
            cursor: pointer;
            filter: contrast(2);
        }
    
   
}