
@import 'variables';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

.header{
color: $primary-color; 

&-title{
    display: flex;
    justify-content: center;
    padding: 32px;  
}

&-nav-list{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 24px;
}

 &-nav-list-item{
    text-decoration: none;
    color: $primary-color;
    padding: 16px;
    border-radius: 3px;
    
}
&-nav-list-item:hover{
    font-weight: bold;
    transition: 0,4;
}
//  &-search{
//      display: flex;
//      justify-content: flex-end;
//      margin-right: 16px; 
//  }


}


.head-event {
    position: relative;
  
    &-header,
    &-summery,
    &-tag {
      position: absolute;
      color: $background-color;
      left: 100px;
    }
  
    &-header {
      top: 50px;
      font-size: 3rem;
    }
  
    &-summery {
      top: 100px;
      font-size: 1rem;
      padding: 20px 0px 20px 0px;
    }
    &-tag{
      color: $background-color;
      bottom: 40px;
      
    }
  
    &-img {
      width: 100%;
      height: 400px;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
   
    }
    &-img:hover{
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
        cursor: pointer;
    }
  }
  

.events{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}  


.event{
    margin-top: 40px;
    margin-bottom: 4s0px;
    // box-shadow: 3px 8px 6px 8px #e6e0e0;
    height: 450px;
    width: 350px;

    &-content{
      margin-left: 5px;
    }
    
   
    &-img{
    margin-bottom: 20px;
    width: 350px;
    height: 250px;
    }

    &-tag{
      text-transform:uppercase;
      position: relative;
      padding-left: 8px;
    }
    
   
    
    &-header{
      margin-bottom: 10px;
    }
   
    &-button{
      border-style: none;
      background-color: transparent;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 1rem;
     
    }
    &-button:hover{
      cursor: pointer;
      font-weight: bold;
    }

    &-tag::before{
      content: "";
      position: absolute;
      width: 3px;
      top: 0;
      bottom: 0;
      left: 0;
    }
}


.event-tag[data-category="music"]::before {
background-color: #f3ad2b;
}

.event-tag[data-category="theater"]::before {
 background-color: rgb(46, 69, 196);
}

.event-tag[data-category="stand-up"]::before {
background-color: limegreen
}

.event-tag[data-category="sport"]::before {
background-color: red;
}