
@import 'variables';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
  color: $primary-color;
}

.header{
color: $primary-color; 


&-title{
    display: flex;
    justify-content: center;
    padding: 32px;  
}

&-nav-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 24px;
    margin-bottom:20px ;
}

 &-nav-list-item{
    text-decoration: none;
    color: $primary-color;
    margin: 20px; 
}

&-nav-list-item:hover{
    font-weight: bold;
    transition: 0,4;
}
}



.head-event {
    position: relative;
    
    &-a{
      color: #e6e0e0;
    }

    &-header{
      font-size: 3rem;
      margin: 0 50px 0 50px;
    }
  
    &-summery {
      font-size: 1rem;
      margin: 50px;
    }
   
    &-tag{
      color: $background-color;
      
    }
  
    &-img {
      width: 100%;
      height: 400px;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
   
    }
    &-overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 400px;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 0.3s, transform 0.3s, box-shadow 0.3s;
    }
    &:hover
    &-img:hover
    &-overlay{
      transform: scale(1.05);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);  
    }
    &:hover
    &-overlay{
      opacity: 1;
    }
   
  }
    @media screen and (max-width: 1200px){
      .head-event-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 400px;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 1;
        transition: opacity 0.3s, transform 0.3s, box-shadow 0.3s;
      }
      
    }

.events{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}  

.event{
    margin-top: 40px;
    height: 450px;
    width: 350px;

    &-content{
      margin-left: 5px;
    }
    
    &-img{
      margin-bottom: 20px;
      width: 350px;
      height: 250px;
    }

    &-tag{
      text-transform:uppercase;
      position: relative;
      padding-left: 8px;
    }
    
   
    
    &-header{
      margin-bottom: 10px;
    }
   
    &-button{
      border-style: none;
      background-color: transparent;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 1rem;
      
     
    }
    &-button:hover{
      cursor: pointer;
      font-weight: bold;
    }

    &-tag::before{
      content: "";
      position: absolute;
      width: 3px;
      top: 0;
      bottom: 0;
      left: 0;
    }
}


.event-tag[data-category="music"]::before {
  background-color: #f3ad2b;
}

.event-tag[data-category="theater"]::before {
  background-color: rgb(46, 69, 196);
}

.event-tag[data-category="stand-up"]::before {
  background-color: limegreen
}

.event-tag[data-category="sport"]::before {
  background-color: red;
}