
@import 'variables';


.container{
   display: flex;
   justify-content: center;
   text-align:justify;
   margin-top: 75px;
   border: 1px solid $font-color;
   background-color: $background-color2;  
}

.event{
    padding:16px;
    
    &-title{
        font-size: 3rem;
        padding-bottom: 16px;
        }
    &-button{
        border-radius: 100px;
        padding: 16px;
        border: none;
        background-color: $primary-color;
        color: $background-color3;
        }
    &-button:hover{
        cursor: pointer;
        filter: contrast(2);
        }
}

.detail-img {
    display: grid;
    grid-template-columns:repeat(3, 150px);
    padding: 16px; 
    gap: 10px;
    position: relative;
    
    &-img1,
    &-img2,
    &-img3,
    &-img4{
        height: 100%;
         width: 100%;
        object-fit: cover;
        }
    &-img1{
        grid-row: span 2;
        }
    &-img4{
        grid-column: span 2;
        }
    &-img1:hover,
    &-img2:hover,
    &-img3:hover,
    &-img4:hover{
        filter:contrast(2);
        transition: 0.3;
    }
}
.catagori-tag{
    text-transform:uppercase;
    position: relative;
    padding-left: 8px;
    margin-left: 4px;    
}
.catagori-tag::before{
    content: "";
    position: absolute;
    width: 3px;
    top: 0;
    bottom: 0;
    left: 0;
}
.catagori-tag[data-category="music"]::before {
    background-color: #f3ad2b;
}

 @media screen and (max-width:854px){
   .container{
    flex-direction: column;
   }
}